@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&family=Noto+Sans+Arabic:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Noto Sans Arabic", sans-serif;
  }

  .text-black {
    color: #090e34 !important;
  }

  .text-black {
    color: #090e34 !important;
  }

  .text-body-color {
    color: rgb(149 156 177);
  }

  .f-carousel {
    max-width: 400px;
    margin: 0 auto;
    height: 50vh;
  }

  .f-carousel__slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .f-carousel__slide img {
    width: 100%;
    height: auto;
  }

  #dropzone .dz-details {
    display: none;
  }

  .dz-preview {
    display: none;
  }

}